footer {
    background-color: rgba(33, 37, 37, 0.5);
    width: 100%;
    /* height: 175px; */
    box-shadow: 10px 10px 25px 10px rgba(33, 37, 37, 0.5);
    margin-top: 40px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
}

div.resources{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div.resources h3 {
    font-family: satisfy;
    margin: 0;
}

div.resources div.links{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

div.resources div.links a{
    text-decoration: none;
    transition: all 2s;
}

div.resources div.links a:hover{
    transform: scale(1.1);
}

div.resources div.links a.footer-links p{
    padding: 15px;
    color: rgb(239, 239, 218);
    font-size: 20px;
    font-weight: bold;
}

div.resources button{
    background-color: transparent;
    border: 1px solid rgb(239, 239, 218);
    font-size: 20px;
    height: 40px;
    margin: auto;
    margin-bottom: 30px;
    transition: all 3s;
}

div.resources button:hover{
    background-color: rgba(33, 37, 37, 0.8);
    transform: scale(1.1)
}

button.new-artist{
    font-family: dancing script;
    border: none;
    height: 100px;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    footer.create{
        height: 70px;
        margin-top: 90px;
    }

    button.new-artist{
        height: 80px;
        margin-top: 0px;
    }

    footer.resources{
        margin-top: 80px;
        padding: 0;
    }

    div.resources{
        height: 120px;
        background-color: rgba(33, 37, 37, 0.5);
        padding-bottom: 10px;
    }

    div.resources h3 {
        margin: 0;
        font-size: 15px;
    }

    div.resources div.links a.footer-links p{
        font-size: 15px;
        margin: 0;
    }

    div.resources button{
        font-size: 15px;
        margin-bottom: 0px;
    }

  }

  @media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {

    footer.resources{
        margin-top: 80px;
    }
}