body {
  background-attachment: fixed;
  background-image: url(https://res.cloudinary.com/dkhiieq9p/image/upload/v1591056848/starry_night_full_kmalxg.jpg);
  background-size: cover;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    body{
      /* background-image: url(https://media.giphy.com/media/TF5O9coaPtg64NulVu/giphy.gif); */
      background-size: cover;
    }

  }


