h3.instructions {
    margin: 30px 30%;
}

a > p {
    text-align: center;
    color: rgb(239, 239, 217);
    font-weight: bolder;
    font-size: 25px;
    box-shadow: 10px 10px 25px 5px rgba(37, 37, 39, 0.5);
    width: 30%;
    margin: 30px auto;
    background-color: rgba(37, 37, 39, 0.5);
    border-radius: 20px;
    transition: all 2s;
}

a > p:hover{
    transform: scale(1.02);
    background-color: rgba(37, 37, 39, 0.8);
}

a {
    text-decoration: none;
}

form.new-resource{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
    margin: 20px auto;
    background-color: rgba(37, 37, 39, 0.5);
    color: rgb(239, 239, 217);
    transition: all 3s;
    border-radius: 20px;
}

form.new-resource:hover{
    transform: scale(1.02);
    background-color: rgba(37, 37, 39, 0.8);
}

form.new-resource label{
    font-weight: bolder;


}

form.new-resource input{
    margin: 20px;
    width: 250px;
}

form.new-resource button{
   width: 25%;
   height: 20px;
   margin: 20px auto;
}