div.symptom-list{
    display: flex;
    justify-content: space-evenly;
    color: rgb(239,239,217);
}

div.modify{
    background-color: rgba(37, 37, 39, 0.5);
    padding: 10px;
    box-shadow: 10px 10px 15px 5px rgba(37, 37, 39, 0.5);
    border-radius: 20px;
}

div.modify p {
    font-weight: bold;
    font-size: 25px;
    margin: 5px;
    font-family: lato;
}

div.modify button{
    margin: 0 10px 5px 10px;
    background-color: transparent;
    color: rgb(239, 239, 217);
    border: 1px solid rgb(239, 239, 217);
}

form.add-symptom{
    padding: 10px;
    height: 100px;
    margin: 50px 20%;
    text-align: center;
    background-color: rgba(37, 37, 39, 0.5);
    border-radius: 20px;
    box-shadow: 10px 10px 15px 5px rgba(37, 37, 39, 0.5);
    font-family: lato;
}

form.add-symptom input {
    margin: 10px 10px;
}

form.add-symptom label{
    color: rgb(239, 239, 217);
    font-weight: bold;
    margin-bottom: 10px;
}

form.add-symptom button{
    height: 40px;
    margin: 5px;
    background-color: transparent;
    color: rgb(239, 239, 217);
    border: 1px solid rgb(239, 239, 217);
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    h3.symptom-header{
        font-size: 15px;
        width: 50%;
        margin: 20px auto;
    }

    div.modify{
        padding: 0;
    }

    div.modify p{
        font-size: 15px;
    }

    div.modify button{
        font-size: 5px;
    }

  }

  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

    div.modify p{
        font-size: 15px;
    }
  }