h2.quote {
    text-align: center;
    margin: 100px auto;
    padding: 20px;
    font-size: 50px;
    font-family: dancing script;
    color: rgb(239,239,218);
    background-color: rgba(37, 37, 39, 0.5);
    border-radius: 20px;
    box-shadow: 0 0 5px 5px rgba(37, 37, 39, 0.5);
}

button.intro{
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 100px;
    font-size: 40px;
    background-color: rgba(37, 37, 39, 0.5);
    border: 2px solid rgb(239, 239, 218);
    color: rgb(239, 239, 218);
    font-family: dancing script;
    transition: all 2s;
}

button.intro:hover{
    transform: scale(1.05);
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    h2.quote{
        font-size: 35px;
    }
      
    button.intro{
        font-size: 25px;
        width: 300px;
        margin-bottom: 50px;
    }

  }


@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (-webkit-min-device-pixel-ratio: 1) {

    h2.quote{
        font-size: 35px;
    }


    button.intro{
        font-size: 30px;
        width: 350px;
        margin-bottom: 60px;
    }
}

