div.story-map {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

 h3 {
    background-color: rgba(33, 37, 37, 0.5);
    box-shadow: 10px 10px 15px 5px rgba(33, 37, 37, 0.5);
    border-radius: 20px;
    text-align: center;
    font-size: 30px;
    font-family: dancing script;
    margin: 10% 35%;
    color: rgb(239,239,218);
}

div.story-map img{
    height: 200px;
    image-rendering: optimizeQuality;
    border-radius: 5px;
}

div.story-links {
    background-color: rgba(33, 37, 37, 0.5);
    border-radius: 10px;
    padding: 10px;
    transition: all 2s;
}

div.story-links:hover {
    transform: scale(1.05);
}

div.story-links h4{
  text-align: center;
  font-family: julius sans one;
}

button.new-artist{
    width: 100%;
    background-color: rgba(33, 37, 37, 0.5);
    font-size: 25px;
    transition: all 2s;
}

button.new-artist:hover{
    transform: scale(1.05)
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {

    h3{
        font-size: 20px;
    }

    div.story-map img {
        height: 100px;
    }

    button.new-artist {
        font-size: 15px;
    }

    div.story-links h4{
        font-size: 10px;
    }

}