div.story-map {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

 h3 {
    text-align: center;
    font-size: 30px;
    margin: 50px 50px;
}

div.story-map img{
    height: 200px;
    image-rendering: optimizeQuality;
    border-radius: 5px;
}

div.story-links h4{
  text-align: center;
}